.wrapper-signup{
  text-align: center;
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  display: flex;
  padding: 10px 20px;
  justify-content: space-around;
  height: 600px;
  width: 400px;
}

.login-row {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .sign-up-form {
    display: none;
    padding: 10px 20px;
    justify-content: space-around;
    height: 600px;
    width: 300px;
  }
}
