.wrapper {
  text-align: center;
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  padding: 10px 20px;
  justify-content: space-around;
  height: 350px;
  width: 400px;
}


@media screen and (max-width: 960px) {
    .login-form {
        display: none;
        padding: 10px 20px;
        justify-content: space-around;
        height: 300px;
        width: 300px;
      }
  }